// Couleurs personnalisées
$custom-primary: #4aa3a2;
$custom-secondary: #9ac8eb;
$custom-tertiary: #a7e0e0;
$custom-success: #28a745;
$custom-warning: #ffc107;
$custom-danger: #dc3545;
$custom-dark: #343a40;

// Police personnalisée
$ion-font-family: "Arial", sans-serif;

// Taille de la police personnalisée
$ion-font-size: 16px;

// Autres variables personnalisées
$custom-border-radius: 10px;
